:root {
  --farmacoop-blue: #00b2f2;
  --transparent-white: rgba(255, 255, 255, 0.8);
  --farmacoop-dark-blue: rgb(50, 98, 150);
  --orange-red: rgb(229, 68, 37);
  --farmacoop-light-blue: #92d6ef;
}
